
.property {
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  background: var(--vmd-content-bg);
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: var(--vmd-property-meta-color);
  padding-left: calc(0px + 28px + (var(--level) * 15px));
}

.property:hover {
  background: var(--vmd-content-highlight-bg);
}

.property.expandable {
  cursor: pointer;
}

.property[data-fitted='false'] {
  opacity: 0.5;
}

.property.instance {
  --value-color: rgb(190 113 195);
}

.property.primitive.boolean,
.property.primitive.number,
.property.primitive.object,
.property.primitive.bigint,
.property.primitive.symbol {
  --value-color: rgb(89, 153, 205);
}

.property.primitive.undefined {
  --value-color: #499098;
}
.property.primitive.null {
  --value-color: #499098;
}

.primitive.string {
  --value-color: #af7249;
}

.propertyName {
  color: rgb(204, 204, 204);
}

.propertyMeta {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.propertyValue {
  color: var(--value-color, var(--vmd-property-meta-color));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.propertyValue:has(+.propertyName) {
  margin-right: 4px;
}

.propertyOperations {
  position: absolute;
  right: 12px;
  display: flex;
  align-items: center;
  opacity: 0;
}

.property:hover > .propertyOperations {
  opacity: 1;
}