.vmPopup {
  position: fixed !important;
  z-index: 999999;
  width: 520px;
  border-radius: 8px;
  height: calc(100vh - 24px);
  width: calc(100vw - 34px);
  max-width: 520px;
  box-shadow: 0 5px 20px #00000066;

  &.dragging {
    transition: none;
    cursor: grabbing;
    opacity: 0.8;
    z-index: 1000;
  }

  &[data-position="top-right"] {
    top: 12px;
    right: 12px;
  }

  &[data-position="top-left"] {
    top: 12px;
    left: 12px;
  }

  &[data-position="bottom-left"] {
    bottom: 12px;
    left: 12px;
  }

  &[data-position="bottom-right"] {
    bottom: 12px;
    right: 12px;
  }
}

.closePopupButton {
  width: 28px;
  height: 28px;
  padding: 6px;
  border: 0;
  background: transparent;
  color: var(--vmd-base-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

html:has( .dragging) *{
  user-select: none !important;
}