@import './theme.css';

.root {
  display: contents;
  box-sizing: border-box;
}

.root * {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 14px;
  box-sizing: border-box;
}

.root button {
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
}

.hierarchyButton {
  width: 18px;
  height: 18px;
  padding: 2px;
  border-radius: 6px;

  &.active {
    background: #f0f0f01f;
  }
}

.treeItemHeader {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: auto 0;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.treeItemLabel {
  padding: 0 4px;
  border-radius: 4px;
}

.treeItemMetaText {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.treeItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc(8px + (var(--level) * 20px));
  position: sticky;
  top: calc(var(--vmd-header-height) + var(--vmd-control-panel-height));
  z-index: 1;
}

.treeItem:hover {
  background: var(--vmd-content-highlight-bg);
}

.treeItem:not([data-fitted='true']) > header {
  opacity: 0.6;
}

.vmTreeItem {
  .treeItemLabel {
    background: var(--vmd-primary-bg);
  }

  .treeItemMetaText {
    color: var(--vmd-primary-color);
  }
}

.extraTreeItem {
  .treeItemLabel {
    background: var(--vmd-secondary-bg);
  }
}
