.root {
  display: contents;
}

.root * {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 14px;
}

.vmButton {
  position: fixed;
  z-index: 999999;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 150ms ease-in-out;

  &[data-position="top-right"], &[data-position="undefined"] {
    top: 12px;
    right: 12px;

    &.opened {
      top: -40px;
    }
  }

  &[data-position="top-left"] {
    top: 12px;
    left: 12px;

    &.opened {
      top: -40px;
    }
  }

  &[data-position="bottom-left"] {
    bottom: 12px;
    left: 12px;

    &.opened {
      bottom: -40px;
    }
  }

  &[data-position="bottom-right"] {
    bottom: 12px;
    right: 12px;

    &.opened {
      bottom: -40px;
    }
  }

  > img {
    pointer-events: none;
    position: absolute;
    inset: 0;
    border-radius: 8px;
  }

  > div {
    transition: all 150ms ease-in-out;
    position: absolute;
    inset: 0;
    border-radius: 8px;
    border: 2px solid #00000057;
  }

  > span {
    left: -4px;
    top: -4px;
    pointer-events: none;
    position: absolute;
    display: flex;
    border-radius: 8px;
    background: #005c26cf;
    padding: 2px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #2aff0a;
  }

  &.opened {
    pointer-events: none;
  }

  &:not(.isConnected) {
    filter: grayscale(1);
  }
}

.closePopupButton {
  width: 28px;
  padding: 6px;
}

.hierarchyButton {
  width: 18px;
  height: 18px;
  padding: 2px;
  border-radius: 6px;

  &.active {
    background: #f0f0f01f;
  }
}

.vmPopup {
  position: fixed;
  z-index: 999999;
  width: 520px;
  border-radius: 8px;
  height: calc(100vh - 24px);
  width: calc(100vw - 34px);
  max-width: 520px;

  &[data-position="top-right"], &[data-position="undefined"] {
    top: 12px;
    right: 12px;
  }

  &[data-position="top-left"] {
    top: 12px;
    left: 12px;
  }

  &[data-position="bottom-left"] {
    bottom: 12px;
    left: 12px;
  }

  &[data-position="bottom-right"] {
    bottom: 12px;
    right: 12px;
  }
}

.treeItemHeader {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: auto 0;
  cursor: pointer;
  background: #1e1e1e;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.treeItemLabel {
  padding: 0 4px;
  border-radius: 4px;
}

.treeItemMetaText {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.treeItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  background: #1e1e1e;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc(0px + (var(--level) * 20px));
  position: sticky;
  top: -8px;
  z-index: 1;
}

.treeItem:not([data-fitted='true']) > header {
  opacity: 0.6;
}

.vmTreeItem {
  .treeItemLabel {
    background: #0f6013;
  }

  .treeItemMetaText {
    color: #5ab65e;
  }
}

.extrasItem {
  .treeItemLabel {
    background: #6b6902;
  }
}

.expandButton {
  color: #a0a0a0;
  opacity: 1 !important;
  width: 16px;
  height: 16px;
  font-weight: bold;
  cursor: pointer;

  &.expanded {
    color: #b8b8b8;
    transform: rotate(90deg);
  }

  &.disabled {
    opacity: 0.35 !important;
  }
}