@import "tailwindcss";

.rootContainer * {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 14px;
}

.vmButton {
  @apply fixed z-99 size-9 cursor-pointer rounded-lg transition-all;

  &[data-position="top-right"], &[data-position="undefined"] {
    @apply top-3 right-3;

    &.opened {
      @apply -top-10;
    }
  }

  &[data-position="top-left"] {
    @apply top-3 left-3;

    &.opened {
      @apply -top-10;
    }
  }

  &[data-position="bottom-left"] {
    @apply bottom-3 left-3;

    &.opened {
      @apply -bottom-10;
    }
  }

  &[data-position="bottom-right"] {
    @apply bottom-3 right-3;

    &.opened {
      @apply -bottom-10;
    }
  }

  > img {
    @apply pointer-events-none absolute inset-0 rounded-lg;
  }

  > div {
    @apply pointer-events-none absolute inset-0 rounded-lg border-2 border-[#00000057];
  }

  > span {
    @apply -left-1 -top-1 pointer-events-none absolute flex rounded-lg bg-[#005c26cf] p-0.5 font-semibold text-[#2aff0a] text-[12px] leading-none; 
  }

  &.opened {
    @apply pointer-events-none;
  }

  &:not(.isConnected) {
    @apply grayscale;
  }
}


.vmPopup {
  @apply fixed z-99 w-[520px] rounded-lg h-[calc(100vh_-_24px)];

  > header {
    button {
      width: 28px;
      padding: 6px;
    }
  }

  &[data-position="top-right"], &[data-position="undefined"] {
    @apply top-3 right-3;
  }

  &[data-position="top-left"] {
    @apply top-3 left-3;
  }

  &[data-position="bottom-left"] {
    @apply bottom-3 left-3;
  }

  &[data-position="bottom-right"] {
    @apply bottom-3 right-3;
  }
}

.vmContent {
  color: rgb(204, 204, 204);
  @apply bg-[#1e1e1e] overflow-auto flex flex-col;

  > header {
    @apply flex justify-between h-8 items-center pl-2 font-semibold;
  }
}

.vmContentInput {
  display: flex;
  position: relative;
}

.vmContentInput > svg {
  position: absolute;
  width: 16px;
  inset: 50% 0;
  transform: translate(6px, -50%);
  pointer-events: none;
  opacity: 0.7;
}

.vmContentInput > input  {
  background: #343434;
  border-radius: 4px;
  outline: 0;
  width: 100%;
  padding: 3px 26px;
  font-size: 14px;
  text-overflow: ellipsis;
}

.vmContentInput > button {
  position: absolute;
  right: 6px;
  width: 16px;
  transform: translate(4px, -50%);
  top: 50%;
  opacity: 0.6;
  display: none;
}

.vmContentInput.filled > svg {
  opacity: 0.9;
}

.vmContentInput.filled > button {
  display: block;
}

.vmContentTree {
  @apply flex flex-col px-2 py-2 overflow-auto;
  scrollbar-width: thin;
  scrollbar-color: #81818170 #1e1e1e;

  &:hover {
    scrollbar-color: #818181 #1e1e1e;
  }
}

.line.vmTreeItem {
  padding-left: calc(0px + (var(--level) * 20px));
  position: sticky;
  top: -8px;
  z-index: 1;

  > header {
    @apply flex items-center gap-1 my-auto cursor-pointer bg-[#1e1e1e] z-1 truncate;

    > label {
      background: #0f6013;
      padding: 0 4px;
      border-radius: 4px;
    }

    > span {
      color: #5ab65e;
      @apply text-[14px] truncate;
    }
  }

  &.extrasItem {
    > header > label {
      background: #6b6902;
    }
  }

  &:not([data-fitted='true']) {
    > header {
      opacity: 0.6;
    }
  }
}


.vmContentFilters {
  padding: 0 8px;
  width: 100%;
  background: #1e1e1e;
}

.propertyMeta {
  @apply text-[#616161] truncate;

  &.small {
    @apply text-[10px];
    line-height: 15px;
  }
}

.propertyValue {
  @apply text-[#616161] truncate;

  &:has(+.property-name) {
    @apply mr-1;
  }
}

.line {
  @apply flex items-center text-[14px] truncate whitespace-pre;
  background: #1e1e1e;

  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-left: calc(28px + (var(--level) * 15px));

  &.expandable {
    cursor: pointer;
  }
}

.property {
  &[data-fitted='false'] {
    @apply opacity-50;
  }

  &.instance {
    > .propertyValue {
      color: rgb(186 130 190);
    }
  }

  &.primitive.boolean, &.primitive.number, &.primitive.object, &.primitive.undefined, &.primitive.bigint, &.primitive.symbol {
    > .propertyValue {
      color: rgb(89, 153, 205);
    } 
  }

  &.primitive.string {
    > .propertyValue {
      @apply text-[#af7249];
    }
  }
}

.expandButton {
  color: #a0a0a0;
  opacity: 1 !important;
  width: 16px;
  height: 16px;
  font-weight: bold;
  cursor: pointer;

  &.expanded {
    color: #b8b8b8;
    transform: rotate(90deg);
  }

  &.disabled {
    opacity: 0.35 !important;
  }
}