.iconToggleButton {
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
  height: 20px;
  outline: none;
}

.activePosition {
  position: absolute;
  height: 16px;
  width: 16px;
  padding: 1px;
  box-sizing: content-box;
  background: #515151;
  border-radius: 4px;
  transition: all 149ms ease;
  transform: translateX(calc(20px * var(--index)));
}

.option {
  padding: 1px;
  z-index: 1;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option > svg {
  width: 14px;
  height: 14px;
}